<!DOCTYPE html>
<html>
  <head>
    <title>Railsapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="stripe-key" content="<%= Rails.application.credentials.stripe_public_key %>">
  </head>

  <body>
    <% if current_user %>
      <%=  link_to 'logout', logout_path, method: :delete %>
    <% else %>
      <%=  link_to 'login', login_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
